#container{
  width:75%;
  margin:auto;
}
#logo{
  background-image:url("../img/pattern.png"); 
  background-size:30% auto;
  height:11vh;
  position:relative;
  background-color: rgb(78,160,255);
}

#boolean{
  height: 8vh;
  width:auto;

  position:absolute;
  bottom:5%;
  left:12.3vw;
}

*{
  box-sizing:border-box;
  font-family: 'Times New Roman', Times, serif;
  margin:0;
  padding:0;
}

h1{
  margin-top:2vh;
}

#author{
  color: grey;
}

#name{
  color:rgb(78, 196, 255);
}
#date{
  font-size:smaller;
}

#Tim1{
  width:35vw;
}

#Tim2{
  width:30vw;
}

figcaption{
  font-size: small;
}

p{
  margin-top:3vh;
  margin-bottom:3vh;
}
ul{
  padding:1em;
}

.corto{
  width:25%;
}

.celeste{
  background-color:rgba(0, 208, 255, 0.546);
}
.white{
  color:white;
}

thead{
  background-color:rgb(0, 174, 255);
}
table{
  border-collapse: collapse;
}
#suggerimenti{
  color:grey;
  margin-bottom:1vh;
}
.firstImg{
  background-image: url("../img/monitor.jpg");
  background-size:100%;
  width:312px;
  height:208px;
  margin-bottom:1vh;
}

.secondImg{
  background-image: url("../img/graph.jpg");
  background-size:100%;
  width:311px;
  height:207px;
}

.Lorem{
  font-weight:bold;
  font-size:larger;
  padding:1%;
}
#marginiElenco{
  margin-bottom:3vh;
}